/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
.env
env0/
/node_modules  
package-lock.json

# Added by cargo
#
# already existing elements were commented out

#/target


# Added by cargo
#
# already existing elements were commented out

#/target
